
.app-table {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: stretch;
    position: absolute;
    width: 100%;
}

.app-table > * {
    font-size: 14px;
    font-family: Ubuntu Mono, monospace;
    line-height: 2em;
    color: hsl(0, 0%, 20%);
}

.app-table .text {
    outline: none;
    border: none;
    flex: 1;
    padding: 1em;
}

.app-table .collection {
    flex: 3;
    background-color: hsl(0, 0%, 97%);
    padding: 1em 0;
}

.app-table .colors {
    display: flex;
    flex-direction: row;
    box-shadow: 0 1px 0px hsl(0, 0%, 91%);
    padding: 0 1em;
}

.colors:hover {
    background-color: hsl(0, 0%, 94%);
}

.app-table .colors > div {
    flex: 1;
}

.app-table .demos {}

.app-table .demos .color-demo {
    height: 32px;
}
