
.app-table {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: stretch;
    position: absolute;
    width: 100%;
}

.app-table > * {
    font-size: 16px;
    font-family: Menlo;
    line-height: 2em;
    flex: 1;
    padding: 1em;
}

.app-table .text {
    outline: none;
    border: none;
}

.app-table .colors {
}

.app-table .demos {}

.app-table .demos .color-demo {
    height: 32px;
}
